<!doctype html>
<head>
    <meta charset=UTF-8>
    <title>todolist</title>
    <link rel="stylesheet" href="/todo.css">
</head>
<body>
    <div class="container">
       
        
        <p>
        <form id = "add" method="post" action = "/todos"> 
        <label for="new-task">Add Item</label><input id="new-task" type="text" name="message">
        <label for="new-date">date</label><input id="new-date" type="text" class="date" name = "date">
        <label for="new-rate">rate</label><input id="new-rate" type="text" name="rating">

        <input type="submit" value="Add">
       
        </form> 
        
        <!--
         <button type="submit" formmethod="post">Add</button>
        <input type="submit" value="Add">
         -->
        
       
        </p>
        

        <h3>Sort by Date Result</h3>
        <ul id="dateResults">
        </ul>

        <h3>Sort by Rating Result</h3>
        <ul id="rateResults">
        </ul>



        <h3>Todo</h3>
        <ul id="incomplete-tasks">
        
        <% for(var i=0; i < ejstodos.length; i++) {%>
         
        <li>
        
        <form class="form">
        <button class="checkbox" type="submit" formmethod="post" formaction="/todo/<%= i %>" >o</button>
        <label class="tasklabel"><%= ejstodos[i].message %></label>
        <input type="text" class="task" name="message" value="<%= ejstodos[i].message %>">
        <label class="datelabel"><%= ejstodos[i].date %></label>
        <input type="text" class="dateinput" name="date" value="<%= ejstodos[i].date %>">
        <label class="ratelabel"><%= ejstodos[i].rating %></label>
        <input type="text" class="rateinput" name="rating" value="<%= ejstodos[i].rating %>">
        <button class="delete" type="submit" formmethod="post" formaction="/delete/todo/<%= i %>" >Delete</button>
        <button class="update" type="submit" formmethod="post" formaction="/update/todo/<%= i %>" >Update</button>
        </form>
        <button class="edit">Edit</button>   <!--放在form里面的button都会。。。。。-->
        </li>
        <% } %>

        </ul>

        <h3>Completed</h3>
        <ul id="completed-tasks">

     <% for(var i=0; i < ejsdone.length; i++) {%>
         
        <li>
        
        <form class="form">
        <button class="checkbox" type="submit" formmethod="post" formaction="/done/<%= i %>" >o</button>
        <label class="tasklabel"><%= ejsdone[i].message %></label>
        <input type="text" class="task" name="message" value="<%= ejsdone[i].message %>">
        <label class="datelabel"><%= ejsdone[i].date %></label>
        <input type="text" class="dateinput" name="date" value="<%= ejsdone[i].date %>">
        <label class="ratelabel"><%= ejsdone[i].rating %></label>
        <input type="text" class="rateinput" name="rating" value="<%= ejsdone[i].rating %>">
        <button class="delete" type="submit" formmethod="post" formaction="/delete/done/<%= i %>" >Delete</button>
        <button class="update" type="submit" formmethod="post" formaction="/update/done/<%= i %>" >Update</button>
        </form>
        <button class="edit">Edit</button>   <!--放在form里面的button都会。。。。。post-->
        </li>
        <% } %>

        </ul>

        <button onclick=sortByDate()>Sort by date</button>

        <button onclick=sortByRating()>Sort by rating</button>
    </div>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/todo.js"></script>
    <script>
    $( function() {           
    $( ".date" ).datepicker();
    });
    </script>
</body>
</html>
